* {
    font-family: 'Inter', sans-serif;
}

.wrapper {
    background-image: url(images/bglogin.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.row {
    width: 900px;
    height: 550px;
    border-radius: 21px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.side-image {
    background-color: #122f54;
    background-image: url(images/patern.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px 0 0 20px;
}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
}

.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    color: #40414a;
}

.input-box .input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}

.input-field .input:focus~label {
    top: -10px;
    font-size: 13px;
}

.input-field .input:valid~label {
    top: -10px;
    font-size: 13px;
    color: #5d5070;
}

.input-field .input:focus,
.input-field .input:valid {
    border-bottom: 1px solid #000;
}

@media only screen and (max-width: 768px) {
    .side-image {
        border-radius: 20px 20px 0 0;
    }
}